{% extends "base.html" %}
{% block content %}
    <section class="flex justify-center flex-col">
        <h2 class="text-center mb-3 text-2xl font-bold text-white">Kalkulator Matematika 12 RPL A</h2>
        <div class="flex flex-wrap gap-4 justify-center items-center px-4 capitalize">
            <a href="simpangan-rerata" class="py-1 px-4 bg-yellow-600 hover:bg-yellow-500 rounded duration-300 hover:scale-110 text-lg font-semibold text-white">Simpangan Rerata</a>
            <a href="ragam-variasi" class="py-1 px-4 bg-yellow-600 hover:bg-yellow-500 rounded duration-300 hover:scale-110 text-lg font-semibold text-white">Ragam Variasi</a>
            <a href="simpangan-baku" class="py-1 px-4 bg-yellow-600 hover:bg-yellow-500 rounded duration-300 hover:scale-110 text-lg font-semibold text-white">Simpangan Baku</a>
            <a href="regresi-linier-sederhana" class="py-1 px-4 bg-yellow-600 hover:bg-yellow-500 rounded duration-300 hover:scale-110 text-lg font-semibold text-white">Regresi Linier Sederhana</a>
            <a href="mean-modus-median" class="py-1 px-4 bg-yellow-600 hover:bg-yellow-500 rounded duration-300 hover:scale-110 text-lg font-semibold text-white">Mean Modus Median</a>
            <a href="ukuran-kemiringan" class="py-1 px-4 bg-yellow-600 hover:bg-yellow-500 rounded duration-300 hover:scale-110 text-lg font-semibold text-white">ukuran kemiringan</a>
            <a href="ukuran-keruncingan" class="py-1 px-4 bg-yellow-600 hover:bg-yellow-500 rounded duration-300 hover:scale-110 text-lg font-semibold text-white">ukuran keruncingan</a>
        </div>
    </section>
{% endblock %}